.container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0px 15px;
}
.works-example-card-container {
  text-align: left;
  padding: 28px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-decoration: none;
}
.licens-checkbox-container {
  padding-left: 15px;
  margin-bottom: 30px;
}
